@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.two{
    padding-top: 50px;
}

h4{
    font-weight: bold;
}

.checked {
        color: orange;
        /* color: lightgrey */
}

.review{
    color: black;
    margin-left: 20px;
    font-weight: 500; 
}
.review:hover{
    /* color: #4d6d9a; */
    color: salmon;
    /* border-bottom: 2px solid #4d6d9a; */
    border-bottom: 2px solid salmon;
}

.card.des{
    background-color: #4d6d9a;
    color: white;
    font-size: 10px;
}
.more{
    color: salmon;
    font-size: 8px !important;
}
.des{
    /* font-size: 20px !important; */
}

.con{
    font-size: 13px !important;
}

.modal-close{
    background-color: salmon;
    padding-bottom: 10px;
}

.modal-close:hover{
    background-color: tomato;
}

.modal-content {
  /* height: auto !important; */
  max-height: calc(100vh) !important;
}

.seller, .renter{
    margin: 10px;
    background-color: salmon;
}

.seller:hover, .renter:hover{
    background-color: tomato;
}

.collapsible-header{
    height: 80px;
}

.collapsible-header i.material-icons.email{
    position: absolute;
    right: 30;
    color: salmon;
}

.collapsible-header i.material-icons.email:hover{
    color: tomato;
}

.col.rate{
    padding-top: 45px;
}

.col.star{
    padding-top: 35px;
}

.card{
    background-color: whitesmoke;
}

.submitreview{
    background-color: #4d6d9a;
}


input{
    font-family: 'Montserrat', sans-serif;
}